@media(max-width:767px){
    /*.gallery-thumb-img {*/
        /*max-height: 300px;*/
        /*min-height: 300px;*/
    /*}*/
}

@media(min-width:768px){
    .navbar-brand {
        font-size: medium;
        float: none;
    }

    .navbar-nav>li>a {
        text-align: center;
        vertical-align: middle;
        line-height: 20px;
        font-size: small;
    }

    .gallery-thumb-img {
        max-height: 200px;
        min-height: 200px;
    }

    .article-main-photo {
        height: 200px;
        border: 1px solid lightgrey;
    }


}

@media(min-width:992px){

    .navbar-brand {
        font-size: large;
        float: left;
    }

    .announce {
        min-height: 506px;
        max-height: 506px;

    }

    .side_bar {
        height: 506px;
    }

    .img_announce_big {
        height: 506px;
        width: auto;
        overflow: hidden;
    }

    .img_announce_small {
        height: 253px;
        width: auto;
        overflow: hidden;
    }

    .navbar-nav>li>a {
        text-align: center;
        vertical-align: middle;
        line-height: 60px;
        font-size: medium;
    }

}

@media(min-width:1200px){
    .navbar-nav>li>a {
        text-align: center;
        vertical-align: middle;
        line-height: 60px;
        font-size: large;
    }
}
