html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav > li > form {
    padding: 8px;
}

/*@media(max-width:768px) {*/
	/*.nav li > form {*/
	    /*padding: 3px;*/
	/*}*/
/*}*/

.nav > li > form > button:hover {
    text-decoration: none;
}

.no-margin-padding {
    margin: 0 !important;
    padding: 0 !important;
}

#header-gerb {
    float: left;
    margin: 0 10px;
}

#mainNav {
    min-height: 100px;
}



.navbar {
    margin-bottom: 0 !important;
    border-radius: 0 !important;
}



.side_bar {
    background-color: #444444;
    padding: 15px;
    color: #9d9d9d;
}

.img_announce_big {
    height: 100%;
    width: 100%;
}

.announce {
    position: relative;
}

.announce-header {
    display: block;
    position: absolute;
    background: rgba(15, 15, 15, 0.5);
    width: 100%;
    left: 0;
    bottom: 0;
    color: #9d9d9d;
    padding: 0 25px 25px 25px;

}

.img_announce_small {
    height: 100%;
    width: 100%;
}


.vertical-divider-left {
    border-left: solid #9d9d9d 1px;
}

.vertical-divider-right {
    border-right: solid #9d9d9d 1px;
}

.secondMenu {
    height: 90px;
    background-color: #222;
    text-align: center;
    border-top: solid white 1px;
    border-right: solid white 1px;
}

.secondMenu a{
    color: #9d9d9d;
}


.menu2 {
    height: 90px;
    vertical-align: middle;
    display: table-cell;
    align-self: center;
}

.img_banner {
    width: 100%;
    padding-bottom: 5px;
}

.main_footer {
    background-color: #222;
}

.text_footer {
    color: #9d9d9d;
    margin-top: 40px;
}



