html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav > li > form {
    padding: 8px;
}

/*@media(max-width:768px) {*/
/*.nav li > form {*/
/*padding: 3px;*/
/*}*/
/*}*/

.nav > li > form > button:hover {
    text-decoration: none;
}

.no-margin-padding {
    margin: 0 !important;
    padding: 0 !important;
}

#header-gerb {
    float: left;
    margin: 0 10px;
}

#mainNav {
    min-height: 100px;
}

.navbar {
    margin-bottom: 0 !important;
    border-radius: 0 !important;
}

.side_bar {
    background-color: #5FBDCE;
    padding: 15px;
    color: #4A6177;
}

.announce-header {
    display: block;
    position: absolute;
    background: rgba(15, 15, 15, 0.7);
    width: 99%;
    left: 0;
    bottom: 0;
    color: #ffffff;
    padding: 10px 10px 10px 10px;

}

.img_announce_small {
    height: 100%;
    width: 100%;
    padding: 1px;
}

.mail-el {
    text-decoration: none;
    color: #4A6177;
}

.mail-el:hover {
    padding: 5px;
    border-radius: 5px;
    display: block;
    background-color: #206876;
    text-decoration: none;
    color: #fff;
}

.secondMenu a {
    text-decoration: none;
    color: #9d9d9d;
}

.secondMenu a:hover {
    text-decoration: none;
    color: #fff;
}

.vertical-divider-left {
    border-left: solid #9d9d9d 1px;
}

.vertical-divider-left2 {
    border-left: solid #9d9d9d 1px;

}

.vertical-divider-right {
    border-right: solid #9d9d9d 1px;
}

.secondMenu {
    height: 90px;
    background-color: #015666;

    text-align: center;
    border-top: solid white 1px;
    border-right: solid white 1px;
}

.secondMenu a {
    color: #ffffff;
}

.secondMenu:hover {
    background-color: #206876;
}

.secondMenu:hover a {
    color: #FFFFFF;
}

.menu2 {
    height: 90px;
    vertical-align: middle;
    display: table-cell;
    align-self: center;
}

.sub_menu {
    background-color: #5FBDCE;
    padding: 15px;
}

.sub_menu a {
    display: block;
    /*line-height: 35px;*/
    color: #4A6177;
    margin-top: 15px;
}

.sub_menu_header {
    color: #9d9d9d;
    font-size: medium;
}

.sub_sub_menu a {
    line-height: 25px;
    font-size: small;
}

.main_header {
    border-bottom: solid #9d9d9d 1px;
}

.banners img {
    width: 100%;
    padding-bottom: 5px;
}

.img_banner {
    width: 100%;
    padding-bottom: 5px;
}

.main_footer {
    background-color: #015666;
}

.text_footer {
    color: #ffffff;
    margin-top: 40px;
}

#mainNav {
    background-color: #015666;
    color: #5FBDCE;
}

#links > li > a {
    color: #FFFFFF;
}

#nav_brand {
    color: #ffffff;
}

#mainNav a:hover {
    background-color: #206876;
    color: #ffffff;
}

#mainNav .navbar-nav > .active > a {
    background-color: #206876;
    color: #ffffff;
}

.home_article {
    width: 100%;
    max-height: 450px;
    overflow: hidden;
}

.read_more {
    display: block;
    float: right;
}

.main_content {
    background-color: lightgrey;
    padding: 0;
    margin: 0;

}

/*.mnp_articles {*/
/*padding: 5px;*/
/*}*/

.article_view {
    background-color: white;
    margin: 5px;
    padding: 5px;
}

.article_header {
    width: 90%;
    margin: 10px auto 10px auto;
    padding: 15px;
    background-color: white;
}

.banner {
    width: 100%;
    margin-top: 10px;
    margin-right: 5px;
    margin-bottom: 10px;
    padding: 15px;
    background-color: white;
}

.main_text {
    width: 90%;
    min-height: 100%;
    margin: 0 auto 10px auto;
    padding: 15px;
    background-color: white;
}

.main_text img {
    padding: 10px;
}

#search {
    margin-top: 25px;
    padding-right: 0;
    padding-left: 1px;
}

#myNavbar {
    padding-left: 1px;
    padding-right: 1px;
}

.search-docs {
    padding: 5px;
}

.search-docs input {
    width: 100%;
}

.search-docs select {
    width: 100%;
}

.article-main-photo {
    height: 350px;
}

